/*CSS reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
/*Custom properties*/

/*Generics*/
ul{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 14px;
}
li{
    list-style: none;
    text-decoration: none;
}
h1{
    font-size: 60px;
    font-weight: bold;
}
h2{
    font-size: 50px;
    font-weight: bold; 
    color: #1c1b29;
}
h3{
    padding-bottom: 60px;
    font-size: 30px;
    font-weight: bold; 
    color: #1c1b29;
    background-size: contain;
    background-position: center;
}
h4{
    color: #8ea1e1;
}
p{
    font-size: 22px;
    font-weight: bold;
}
hr{
    color: #daa520;
    background-color: #daa520;
}
footer{
    background-color: #23272a;
    padding-bottom: 10px;
}
/*Utilties*/
.sidebar{
    background-color: #3161e0;
    margin: 0 auto;
    padding-top: 5px;
    padding-bottom: 15px;
    display: flex;
    justify-content: center;
    
}
.side_button{
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: white;
}
.smallsquare_sidebar{
    min-height: 20px;
    width: 350px;
    padding-left: 10px;
    margin-top: 8px;
    display: flex;
    justify-content: center;
}
.conteiner{
    margin: 0 auto;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    justify-content: center;
    column-gap: 200px;
}
.conteiner2{
    margin: 0 auto;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #23272a;
    border-bottom: solid #8ea1e1 1px;
    display: flex;
    justify-content: center;
}
.title_buttons{
    display: flex;
    justify-content: center;
    column-gap: 40px;
}
.title_button{
    background-color: white;
    width: 100px;
    padding: 20px;
    border-radius: 50px;
    margin: 0 auto;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: #23272a;
}
.whitebg{
    background-color: white;
    min-height: 550px;
}
.greybg{
    background-color: #e5e5e5;
    min-height: 550px;
}
.lightblue_section{
    min-height: 50px;
    width: 650px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.center_figure{
    margin-top: 50px;
    display: block;
}
.inverttext{
    display: flex;
    flex-direction: row;
}
.text_color{
    color: #1c1b29;
    margin-top: 50px;
    width: 350px;
}
.description{
    font-size: 20px;
    color: #1c1b29;
    width: 350px;
}
.lightpink_section{
    min-height: 150px;
    width: 620px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.wave{
    display: block;
    background-image: url("../img/wave.svg");
    min-height: 150px;
    opacity: 0.1;
}
.rotatewave{
    rotate: 0.5turn;
}
.lightgreen_section{
    background-color: #23272a;
    width: 150px;
    min-height: 250px;
    margin-top: 20px;
    margin-bottom: 20px; 
    margin-right: 50px;
    line-height: 35px;
}
.white_link{
    text-decoration: none;
    color: white;
    font-weight: normal;
    padding-left: 10px;
}
.footer_row{
    background-color: #7fffd4;
    margin: 0 auto;
    min-height: 40px;
    width: 550px;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}
.foot_title{
    padding-left: 10px;

}
.button_foot{
    background-color: #ffb6c1;
    min-height: 20px;
    width: 60px;
    border: dotted black 1px;
    margin-top: 10px;
    margin-bottom: 10px;
}
/*header*/
#largesquare_sidebar{
    background-color: #3161e0;
    padding-top: 8px;
    min-height: 50px;
    width: 650px;
}
.login_head{
    display: flex;
    align-items: center;
}
#login_button{
    background-color: white;
    width: 80px;
    padding: 8px;
    border-radius: 20px;
    margin: 0 auto;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: #23272a;
}
/*Jumbotron*/
#bg_blue{
    background-image: url("../img/jumbo.png");
    background-size: cover;
    min-height: 650px;
}
#first_pinksection{
    min-height: 250px;
    width: 770px;
    margin-top: 100px;
    margin-bottom: 20px; 
    text-align: center;
}
#title_text{
    color: white;
    padding-top: 20px;
}
#button_blkstyle{
    background-color: #23272a;
    color: white;
}
/*Sections*/
#green_section{
    min-height: 400px;
    width: 1100px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center; 
}
#text_center{
    color: #1c1b29;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 35px;
}
#bigitem{
    width: 1200px;
    padding-right: 70px;
}
#start_adventure{
    display: block;
    background-color: #e5e5e5;
    padding-bottom: 70px;
    text-align: center;
    margin: 0 auto;
    max-width: 700px;
    min-height: 100px;
}
#download_button{
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    padding: 20px;
    background-color: #8ea1e1;
    color: white;
    border-radius: 50px;
}
#background_prefooter{
    background-color: #e5e5e5;
}
/*Footer*/
#red_section{
    width: 383px;
    min-height: 250px;
    margin-top: 20px;
    margin-bottom: 20px; 
    color: white;
}
#foot_size{
    font-size: 30px;
}
#size_flag{
    margin-top: 30px;
}
#foot_lang{
    display: inline;
    font-size: 20px;
    padding-left: 5px;
}
#social_foot{
    margin-top: 20px;
    word-spacing: 18px;
}
