/*CSS reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
/*Custom properties*/

/*Generics*/
ul{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 14px;
}
li{
    list-style: none;
    text-decoration: none;
}
h1{
    font-size: 60px;
    font-weight: bold;
}
p{
    font-size: 22px;
    font-weight: bold;
}
hr{
    color: #daa520;
    background-color: #daa520;
}
footer{
    background-color: #23272a;
    padding-bottom: 10px;
}
/*Utilties*/
.sidebar{
    background-color: #3161e0;
    margin: 0 auto;
    padding-top: 5px;
    padding-bottom: 15px;
    display: flex;
    justify-content: center;
    
}
.side_button{
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: white;
    
}
.smallsquare_sidebar{
    min-height: 20px;
    width: 350px;
    padding-left: 10px;
    margin-top: 8px;
    display: flex;
    justify-content: center;
}
.conteiner{
    margin: 0 auto;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    justify-content: center;
}
.title_buttons{
    display: flex;
    justify-content: center;
    column-gap: 40px;
}
.title_button{
    background-color: white;
    width: 100px;
    padding: 20px;
    border-radius: 50px;
    margin: 0 auto;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: #23272a;
}
.whitebg{
    background-color: white;
}
.greybg{
    background-color: #d3d3d3;
}
.lightblue_section{
    background-color: #1e90ff;
    min-height: 250px;
    width: 350px;
    border: dotted black 1px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.lightpink_section{
    background-color: #ffc0cb;
    min-height: 250px;
    width: 200px;
    border: dotted black 1px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.lightgreen_section{
    background-color: #20b2aa;
    width: 92px;
    min-height: 250px;
    border: dotted black 1px;
    margin-top: 20px;
    margin-bottom: 20px; 
}
.footer_row{
    background-color: #7fffd4;
    margin: 0 auto;
    min-height: 40px;
    width: 550px;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}
.button_foot{
    background-color: #ffb6c1;
    min-height: 20px;
    width: 60px;
    border: dotted black 1px;
    margin-top: 10px;
    margin-bottom: 10px;
}
/*header*/
#largesquare_sidebar{
    background-color: #3161e0;
    padding-top: 8px;
    min-height: 50px;
    width: 650px;
}
.login_head{
    display: flex;
    align-items: center;
}
#login_button{
    background-color: white;
    width: 80px;
    padding: 8px;
    border-radius: 20px;
    margin: 0 auto;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: #23272a;
}
/*Jumbotron*/
#bg_blue{
    background-image: url("../img/jumbo.png");
    background-size: cover;
    min-height: 650px;
}
#first_pinksection{
    min-height: 250px;
    width: 770px;
    margin-top: 100px;
    margin-bottom: 20px; 
    text-align: center;
}
#title_text{
    color: white;
    padding-top: 20px;
}
#button_blkstyle{
    background-color: #23272a;
    color: white;
}
/*Sections*/
#green_section{
    background-color: #228b22;
    min-height: 400px;
    width: 550px;
    border: dotted black 1px;
    margin-top: 20px;
    margin-bottom: 20px; 
}
/*Footer*/
#red_section{
    background-color: #f08080;
    width: 183px;
    min-height: 250px;
    border: dotted black 1px;
    margin-top: 20px;
    margin-bottom: 20px; 
}
